

<style>
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&display=swap');
</style>


/* Обнуление */
*{ 
	box-sizing: border-box;	
}

*::before,
*::after{
	box-sizing: border-box;
}

@font-face{
	font-family: 'Futura PT';
	src:url('') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

body{
	font-family: '',sans-serif;
	font-weight: 400;
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: 100%;
    background: #0A0A0A;
    
}
img{
	max-width: 100%;

}

/*----------------------body(header)------------------------*/

.ogran{
max-width: 357px;
margin: 0px auto;
padding-left: 15px;
padding-right: 15px;
}
.zagolovok{
text-align: center;
margin-bottom: 0px;
margin-top:43px;
font-family: Big Shoulders Text;
font-size: 35px;
color:#FFFFFF;
}
.block1{
max-width:351px;
min-height:59px;
background: rgba(22, 22, 22, 0.6);
margin-top: 20px;
border: 3px solid transparent;
border-image: linear-gradient(to right,rgba(11, 104, 137, 1),rgba(157, 8, 160, 1));
-moz-border-image: -moz-linear-gradient(left,rgba(11, 104, 137, 1),rgba(157, 8, 160, 1));
-webkit-border-image: -webkit-linear-gradient(left,rgba(11, 104, 137, 1),rgba(157, 8, 160, 1));
border-image-slice: 1;
}
.text-blocka{
text-align: center;
padding-top: 19.5px;
font-size: 20px;
font-family: 'Raleway', sans-serif;
color:#FFFFFF;
margin:0px;
}
.rttp{
margin-top: 71px;
}

.footer-content{
margin-top: 27px;
}

.Name{
text-align: center;
font-size: 16px;
font-family: 'Raleway', sans-serif;
margin-bottom: 0px;
margin-top: 0px;
color: rgba(255, 255, 255, 0.27);
}
.Name2{
font-size: 12px;
margin-bottom: 0px;
margin-top: 27px;
color: rgba(255, 255, 255, 0.27);
}
.Name3{
text-align: center;
font-family: 'Raleway', sans-serif;
font-size: 18px;
margin-top: 73px;
margin-bottom: 105px;
color:#FFFFFF;
}
.ssulka {
	color: #ffffff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.ssulka:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #9C08A0; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.ssulka:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color:#10658A; /* Цвет подчеркивания при появлении линии*/
    transition: width 1s;  /* Время эффекта */
}

.ssulka:hover{
color: #4C3D93;
}

.logo{
color:#FFFFFF;
margin-top:79px;
margin-left: 107px;
}